body{
    background-color: white;
}

.container1{
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 10000px;
}

.main{
    border: none;
    width: 700px;
}

.task1{
    text-align: center;
}

.h1v1{
    color: rgb(46, 46, 46);
}

.h2v1{
    color: rgb(83, 84, 85);
}

.btn1{
    border: none;
    color: white;
    background-color: rgba(5, 129, 71, 0.753);
    border-radius: 15px;
    width: 150px;
    height: 40px;
}

.btn2{
        border: none;
    color: white;
    background-color: rgba(64, 102, 228, 0.753);
    border-radius: 15px;
    width: 150px;
    height: 40px;
}


.h1v2{
        color: rgb(46, 46, 46);
}

.h1v3{
        color: rgb(46, 46, 46);
}

.h1v4{
        color: rgb(46, 46, 46);
}

.h1v5{
        color: rgb(46, 46, 46);
}

.h2v2{
        color: rgb(83, 84, 85);
}

.h2v3{
        color: rgb(83, 84, 85);
}

.h2v4{
        color: rgb(83, 84, 85);
}

.h1v6{
        color: rgb(46, 46, 46);
}

.h2v5{
            color: rgb(83, 84, 85);
}

.task3{
    border: none;
}

.task4{
    text-align: center;
}


.task5{
    display: flex;
}



.task6 img{
        width: 50px;
    height: 35px;
}

.task6{
    display: flex;
    gap: 175px;
    align-items: center;
    text-align: center;
}

.task6 img{
  width: 60px;
  height: 45px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.task7{
    display: flex;
    gap: 100px;
    color: rgb(46, 46, 46); 
    width: 1000px;


}

.h1v7{
  color: rgb(46, 46, 46); 
}

.h2v6{
  color: rgb(83, 84, 85);    
} 

