body{
    background-color: rgb(134, 236, 121);
    
}

.btn2{
    border-color: rgb(139, 173, 123);
    color: black;
    background-color: rgb(73, 250, 132);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
   margin-left: 20px;
}

.btn3{
    border-color: rgb(77, 243, 0);
    color: black;
    background-color: rgb(73, 250, 132);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 20px;
}

.btn4{
    border-color: rgb(77, 243, 0);
    color: black;
    background-color: rgb(73, 250, 132);
    width: 160px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 20px;
}

.btn5{
    border-color: rgb(77, 243, 0);
        color: black;
    background-color: rgb(73, 250, 132);
    width: 270px;
    height: 40px;
    border-radius: 10px;
    font-size: 23px;
    margin-left: 400px;
}

.img1{
    width: 50px;
    height: 50px;
    
    
}

.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    width: 200px;
    height: 200px;
}

.item1{
    align-items: center;
    color: rgb(161, 253, 2);
    background-color: darkgreen;
    width: 220px;
    padding: 20px;
    border-radius: 20px;
}

.item1 button{
    border: none;
    width: 100px;
    height: 20px;
    border-radius: 7px;
    color: darkgreen;
    background-color: rgb(161, 253, 2);
}


.fr12{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 20px;
    margin-top: 50px;
}

.fr13{
    display: flex;
    justify-content: center;
}

.DES{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
    
}




